<div class="lang">
    <a id = "lang_sel_ru" href=""><%= lang["РУС"] %></a>&nbsp;&nbsp;<i class="fa fa-refresh"></i>&nbsp;&nbsp;<a id = "lang_sel_en" href=""><%= lang["АНГ"] %></a>
</div>
<div class="wrap">
    <div class="top-nav">
            <div class="top-nav-cont">
                <a href="#" onclick="modal('about')"><%= lang["О проекте"] %></a> | <a href="#" onclick="modal('news')"><%= lang["Новости"] %></a> | <a href="#" onclick="modal('partners')"><%= lang["Партнеры"] %></a>
            </div>
    </div>
    <div class="logo"><img src="img/logo.png" alt=""/></div>
    
    <div class="w"><form method="post" action="" class="forms">
        <label>
            <input type="text" name="login" placeholder="<%= lang["Логин"] %>" class="width-100" />
        </label>
        <label>
            <input type="password" name="password" placeholder="<%= lang["Пароль"] %>" class="width-100" />
        </label>
        <p>
            <button class="btn btn-red width-100" onclick=""><i class="fa fa-lock"></i> <%= lang["Войти"] %></button>
        </p>
    </form>
    <p><button class="btn width-100" onclick="modal('reg')"><i class="fa fa-list-alt"></i> <%= lang["Регистрация"] %>
        </button></p>
    <p><button class="btn width-100" onclick="modal('fogot')">
            <i class="fa fa-stethoscope"></i> <%= lang["Забыли пароль"] %>
        </button></p></div>
</div>




<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<div id="about" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= lang["О проекте"] %></h2>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
    </div>

</div>
<div id="news" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= lang["Новости"] %></h2><hr />
        <div class="date">
            <span class="chislo">25</span><br/>октября
        </div>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <div class="date">
            <span class="chislo">29</span><br/>ноября
        </div>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <div class="date">
            <span class="chislo">1</span><br/>февраля
        </div>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
    </div>

</div>
<div id="partners" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= lang["Партнеры"] %></h2>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
    </div>

</div>
<div id="fogot" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= lang["Забыли пароль"] %></h2>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
    </div>

</div>
<div id="reg" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= lang["Регистрация"] %></h2>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
    </div>

</div>

<div id="mask"></div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


<!-- ************************************************************ -->



<!-- ************************************************************ -->
<footer id="footer">


                <p><i class="fa fa-wrench"></i> &copy; HEROgs 2014 <i class="fa fa-angellist"></i> &copy; co[de]sign</p>

</footer>