<!--<div id="fixed">-->
    <div class="top-nav">
        <div class="top-nav-cont">
                <a href="#" onclick="modal('about')"><%= _lng("О проекте") %></a> | <a href="#" onclick="modal('news')"><%= _lng("Новости") %></a> | <a href="#" onclick="modal('partners')"><%= _lng("Партнеры") %></a>
            </div>
</div>
<div class="lang">
    <a id = "lang_sel_ru" href=""><%= _lng("РУС") %></a>&nbsp;&nbsp;<i class="fa fa-refresh"></i>&nbsp;&nbsp;<a id = "lang_sel_en" href=""><%= _lng("АНГ") %></a>
</div>
<!--</div>-->
<div class="wrap">
    <div class="logo"><img src="img/logo.png" alt=""/></div>
    
    <div class="w"><form method="post" action="" class="forms">
        <label>
            <input type="text" name="login" placeholder="<%= _lng("Логин") %>" class="width-100" />
        </label>
        <label>
            <input type="password" name="password" placeholder="<%= _lng("Пароль") %>" class="width-100" />
        </label>
            <p class="err inv"><%= _lng("Ошибка входа") %></p>
        <p>
            <button class="btn btn-red width-100" onclick=""><i class="fa fa-lock"></i> <%= _lng("Войти") %></button>
        </p>
    </form>
    <p><button class="btn width-100" onclick="modal('reg')"><i class="fa fa-list-alt"></i> <%= _lng("Регистрация") %>
        </button></p>
    <p><button class="btn width-100" onclick="modal('fogot')">
            <i class="fa fa-stethoscope"></i> <%= _lng("Забыли пароль") %>
        </button></p></div>
</div>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div id="overlay"></div>
<div class="wrap_m">

<div id="about" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= _lng("О проекте") %></h2>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
    </div>

</div>
<div id="news" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= _lng("Новости") %></h2><hr />
        <div class="date">
            <span class="chislo">25</span><br/>октября
        </div>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <div class="date">
            <span class="chislo">29</span><br/>ноября
        </div>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <div class="date">
            <span class="chislo">1</span><br/>февраля
        </div>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
    </div>

</div>
<div id="partners" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= _lng("Партнеры") %></h2>
        <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
        <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
    </div>

</div>
<div id="fogot" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= _lng("Забыли пароль") %></h2>
        <form method="post" action="" class="forms" id="zab">
            <p><%= _lng("Забыл текст") %></p>
            <label>
                <input type="email" name="email" placeholder="<%= _lng("Мыло") %>" class="width-100" />
            </label>
            <button class="btn btn-red width-100" onclick="alert('высылаем пароль на мыло')"><i class="fa fa-reply"></i> <%= _lng("Готово") %></button> <button class="btn width-100 close"><i class="fa fa-times-circle"></i> <%= _lng("Отмена") %></button>
        </form>
    </div>

</div>
<div id="reg" class="window">
    <div class="m_close"><a href="#" class="close"><i class="fa fa-times-circle"></i></a></div>
    <div class="m_content">
        <h2><%= _lng("Регистрация") %></h2>
        <p class="note">Написать про то, что по почте в целях безопасности ничего выслано не будет. Запоминайте логин и пароль сами.</p>
        <form method="post" action="" class="forms" id="registerForm">
            <label>
                <input type="text" name="login" placeholder="<%= _lng("Логин") %>" class="width-100" id="inputLogin"
                       title="<%= _lng("ЛогинТитл") %>"
                       pattern="^[0-9A-Za-zА-Яа-яЁё\s!@#$()+.=]+$"/>
            </label>
            <label>
                <input type="password" name="password" placeholder="<%= _lng("Пароль") %>" class="width-100" id="inputPassword3"
                       title="<%= _lng("ПарольТитл") %>"
                       pattern="^[0-9A-Za-zА-Яа-яЁё\s!@#$()+.=_]+$"  />
            </label>
            <label>
                <input type="password" name="password2" placeholder="<%= _lng("Пароль еще") %>" class="width-100" />
            </label>
            <label>
                <input type="email" name="email" placeholder="<%= _lng("Почта") %>" class="width-100" />
            </label>
            <label>
                <input type="email" name="email2" placeholder="<%= _lng("Почта еще") %>" class="width-100" />
            </label>
            <button class="btn btn-red width-100" onclick="alert('регистрация обработка')"><i class="fa fa-reply"></i> <%= _lng("Готово") %></button> <button class="btn width-100 close"><i class="fa fa-times"></i> <%= _lng("Отмена") %></button>
        </form>
        <p class="note">Разместить ссылку на пользовательское соглашение, и то, что регистрация означает согласие с ним.</p>
    </div>
</div>
</div>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


<!-- ************************************************************ -->



<!-- ************************************************************ -->
<footer id="footer">


                <p><i class="fa fa-wrench"></i> &copy; HEROgs 2014 <i class="fa fa-angellist"></i> &copy;sls &copy; co[de]sign</p>

</footer>